---
import courseIndex from "../utils/courseIndex.js";
const courses = await courseIndex();
---

<html dir="rtl" lang="ar">
  <head>
    <meta charset="UTF-8" />
    <title>دروس الأمان الرقمي</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <h1>دروس الأمان الرقمي</h1>
    <ul>
      {
        courses.map((course) => (
          <li>
            <a href={course.url}>{course.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
